@{
    ViewBag.Title = "Wallboard";
}

<div class="float-left wbelement"><div class="wbtitle"><span class="float-left">TIME AND WEATHER</span> <span class="ui-icon ui-icon-triangle-1-s"></span></div>
    <div id="digiclock" class="wbelement-content"></div>
</div>
<div class="float-left wbelement no-border"><div class="wbtitle"><span class="float-left">CALENDAR</span> <span class="ui-icon ui-icon-triangle-1-s"></span></div>
    <div id="events" class="wbelement-content no-border">
    </div>
</div>
<div class="clear-left float-left wbelement"><div class="wbtitle"><span class="float-left">NEXT HOLIDAY</span> <span class="ui-icon ui-icon-triangle-1-s"></span></div>
    <div id="holiday" class="wbelement-content">
    </div>
</div>

<div class="float-left wbelement"><div class="wbtitle"><span class="float-left">Bamboo Build Statuses</span> <span class="ui-icon ui-icon-triangle-1-s"></span></div>
    <ul id="build-statuses" class="wbelement-content-full">
    </ul>
</div>

<div class="clear-left float-left wbelement"><div class="wbtitle"><span class="float-left">Jira Projects</span> <span class="ui-icon ui-icon-triangle-1-s"></span></div>
    <ul id="jira-projects" class="wbelement-content">
    </ul>
</div>

<div class="float-left wbelement wbelement-bottom"><div class="wbtitle"><span class="float-left">News</span> <span class="ui-icon ui-icon-triangle-1-s"></span></div>
    <div class="wbelement-content no-border">
        <ul id="news-feeds">
            @Html.Raw(Html.Action("Rss", "Feed").ToString())
        </ul>
    </div>
</div>

<div class="clear-left float-left wbelement"><div class="wbtitle"><span class="float-left">Twitter</span> <span class="ui-icon ui-icon-triangle-1-s"></span></div>
    <div class="wbelement-content">
        <ul id="twitter-feeds">
            @Html.Raw(Html.Action("Twitter", "Feed").ToString())
        </ul>
    </div>
</div>

<div class="clear-left wbelement absolute-bottom">
    <div class="wbelement-content">
    </div>
</div>

<script type="text/javascript" >
    $(document).ready(function () {
        $('#digiclock').jdigiclock({
            clockImagesPath: "@Url.Content("~/Content/images/clock/")",
            weatherImagesPath: "@Url.Content("~/Content/images/weather/")",
            am_pm: true,
            weatherLocationCode: "NAM|US|ND|FARGO",
            weatherMetric: "F",
            weatherUpdate: 5,
            proxyType: "asp"
        });
        $('#events').wbelement({ url: "@(Url.Action<FeedController>(x => x.Calendar()))", delay: 60000 });
        $('#holiday').wbelement({ url: "@(Url.Action<FeedController>(x => x.NextHoliday()))", delay: 60000 });
        $('#build-statuses').wbelement({ url: "@(Url.Action<FeedController>(x => x.BuildStatuses()))", delay: 60000 });
        $('#jira-projects').wbelement({ url: "@(Url.Action<FeedController>(x => x.JiraProjects()))", delay: 60000 });
        
        $('#news-feeds').cycle({fx: 'scrollLeft', timeout: 6000, after: cycleAfter, url: "@(Url.Action<FeedController>(x => x.Rss()))" });
        $('#twitter-feeds').cycle({fx: 'scrollLeft', timeout: 6000, after: cycleAfter, url: "@(Url.Action<FeedController>(x => x.Twitter()))" });
    });

    function cycleAfter(currSlideElement, nextSlideElement, options) {
        if(options.currSlide == options.slideCount - 1) {
            $.ajax({
                url: options.url,
                success: function(data) {
                    options.$cont.html(data);
                    options.$cont.cycle({fx: options.fx, timeout: options.timeout, after: cycleAfter, url: options.url });
                }
            });
        }
    }
</script>